/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
header {
	padding-bottom: 100px;
	@media (max-width: 1200px) {
		padding: 50px 0;
	}
	@media (max-width: 768px) {
		padding: 35px 0;
	}
	@media (max-width: 480px) {
		padding: 25px 0;
	}
}
.c-menu {
	@include flex-jstart;
	display: none;
	position: absolute;
	right: 7.8125%;
	top: 50px;
	li {
		font-family: "Playball", cursive;
		font-size: 24px;
		cursor: pointer;
		letter-spacing: 1px;
		margin-left: 50px;
		transition: all 0.3s ease;
		@media (max-width: 1200px) {
			margin-left: 30px;
		}
		a {
			color: $color2;
			text-decoration: none;
		}
		&:hover {
			a {
				text-shadow: 0 0 5px $color3, 0 0 10px $color3, 0 0 15px $color3, 0 0 20px $color3;
			}
		}
	}
}
