/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
.header {
	 visibility: hidden;
	@include flex-jbetween;
	&__name {
		&--main {
			font-family: 'Playball', cursive;
			font-size: 48px;
			color: $color3;
			@include max(1440px) {
				font-size: 36px;
			}
		}
		&--sub {
			font-size: 24px;
			margin-top: 6px;
			@include max(1440px) {
				font-size: 20px;
			}
		}
	}
	&__menu {
		@include flex-jbetween;		
		li {
			margin-left: 50px;
			a {
				font-size: 24px;
				font-weight: 500;
				text-decoration: none;	
				color: $color2;
				&:hover, &.active {
					color: $color3;
				}	
				@include max(1440px) {
					font-size: 20px;
				}		
			}			
		}		
	}
}