/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
html {
	scroll-behavior: smooth;
	box-sizing: border-box;
}
.container {
    width: 1200px;
    margin: 0 auto;
    max-width: 100%;
}
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-size: 16px;
	color: #fff;	
	animation: bg 20s infinite;
	font-family: 'Roboto', sans-serif;

}
@keyframes bg {
    0% {
		background: url(../../assets/images/common/bg01.jpg) no-repeat center top;
		background-attachment: fixed;
	}
	20% {
		background: url(../../assets/images/common/bg02.jpg) no-repeat center top;
		background-attachment: fixed;
	}
	40% {
		background: url(../../assets/images/common/bg01.jpg) no-repeat center top;
		background-attachment: fixed;
	}
	60% {
		background: url(../../assets/images/common/bg01.jpg) no-repeat center top;
		background-attachment: fixed;
	}
	80% {
		background: url(../../assets/images/common/bg01.jpg) no-repeat center top;
		background-attachment: fixed;
    }
    100% {
		background: url(../../assets/images/common/bg01.jpg) no-repeat center top;
		background-attachment: fixed;
    }
}