/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	background: url(../../assets/images/index/bg01.png) repeat;
	box-sizing: border-box;
	color: $color2;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	line-height: 28px;
	z-index: -1;
}
main {
	box-sizing: border-box;
	
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
h1 {
	img {
		width: 100%;
	}
}
@media (max-width: 1200px) {
	.max-1200 {
		display: none;
	}
}
@media (max-width: 960px) {
	.max-960 {
		display: none;
	}
}
@media (max-width: 768px) {
	.max-768 {
		display: none;
	}
}
@media (max-width: 640px) {
	.max-640 {
		display: none;
	}
}
@media (min-width: 961px) {
	.min-961 {
		display: none;
	}
}
@media (min-width: 769px) {
	.min-769 {
		display: none;
	}
}
@media (min-width: 641px) {
	.min-641 {
		display: none;
	}
}
