/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
html {
	scroll-behavior: smooth;
	box-sizing: border-box;
}
.container {
    width: 1200px;
    margin: 0 auto;
	max-width: 100%;
	@include max(1200px) {
		padding: 0 20px;
	}
}
body {
	margin: 0;
	padding: 50px;
	overflow: hidden;
	font-size: 16px;
	color: $color2;	
	font-family: 'Roboto', sans-serif;
	width: 100vw;
	height: 100vh;
	background: url(../../assets/images/common/background.png) no-repeat;	
	@include flex-jbetween;
	flex-direction: column;
}
main {
	height: 100%;
}