// Breakpoint
$breakpoint1: 767px;

// Common Colors
$color1: #333;      //normal text
$color2: #fff;   //active text
$color3: #0b9ed9;
$color4: #043f8c;
$color5: #6ebf49;

// link color
//$link:#000;
//$hover:#000;
//$active:#000;
//$visited:#000;

