@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
nav,
section,
time,
mark,
audio,
video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block; }

html {
  font-size: 62.5%; }

body {
  -webkit-text-size-adjust: 100%; }

body,
table,
input,
textarea,
select,
option,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

table,
input,
textarea,
select,
option {
  line-height: 1.1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

img {
  vertical-align: top; }

a {
  transition: 0.3s ease-in-out; }

form label {
  cursor: pointer; }

th, td {
  padding: 2px 0;
  vertical-align: top;
  text-align: left;
  line-height: 28px; }
  th a, td a {
    color: #333; }
    th a:hover, td a:hover {
      color: #0099f7; }

th {
  font-weight: 500;
  padding-right: 15px; }

/*------------------------------------------------------------
	Clearfix
------------------------------------------------------------*/
/*------------------------------------------------------------
	Font
------------------------------------------------------------*/
/*------------------------------------------------------------
	Media
------------------------------------------------------------*/
/*------------------------------------------------------------
	Flex Box
------------------------------------------------------------*/
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
html {
  scroll-behavior: smooth;
  box-sizing: border-box; }

.container {
  width: 1200px;
  margin: 0 auto;
  max-width: 100%; }
  @media screen and (max-width: 1200px) {
    .container {
      padding: 0 20px; } }

body {
  margin: 0;
  padding: 50px;
  overflow: hidden;
  font-size: 16px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
  background: url(../../assets/images/common/background.png) no-repeat;
  background-color: rgba(51, 51, 51, 0.2);
  display: flex;
  justify-content: space-between;
  flex-direction: column; }

main {
  height: 100%; }

/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
.header {
  opacity: 0;
  display: flex;
  justify-content: space-between; }
  .header__name--main {
    opacity: 0;
    font-family: 'Playball', cursive;
    font-size: 48px;
    color: #0099f7;
    font-weight: normal; }
    @media screen and (max-width: 1440px) {
      .header__name--main {
        font-size: 36px; } }
  .header__name--sub {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-top: 6px; }
    @media screen and (max-width: 1440px) {
      .header__name--sub {
        font-size: 20px; } }
  .header__menu {
    display: flex;
    justify-content: space-between; }
    .header__menu li {
      margin-left: 50px; }
      .header__menu li a {
        font-size: 24px;
        font-weight: 500;
        text-decoration: none;
        color: #333; }
        .header__menu li a:hover, .header__menu li a.active {
          color: #0099f7; }
        @media screen and (max-width: 1440px) {
          .header__menu li a {
            font-size: 20px; } }

/*------------------------------------------------------------
	Footer
------------------------------------------------------------*/
.c-footer {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background: #0099f7; }

/*------------------------------------------------------------
	Side
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
/*------------------------------------------------------------
	Title
------------------------------------------------------------*/
.title01 {
  font-family: 'Playball', cursive;
  font-size: 32px;
  color: #0099f7;
  letter-spacing: 1px;
  position: relative; }
  .title01 span {
    position: relative;
    padding-bottom: 5px; }
    .title01 span:before {
      content: '';
      width: 50%;
      height: 2px;
      background-color: #333;
      position: absolute;
      left: 0;
      bottom: 0; }

.title02 {
  font-weight: 500;
  font-size: 20px;
  color: #0099f7;
  position: relative; }
  .title02 span {
    position: relative;
    padding-bottom: 10px; }
    .title02 span:before {
      content: '';
      width: 50px;
      height: 2px;
      background-color: #333;
      position: absolute;
      left: 0;
      bottom: 0; }

.title03 {
  font-family: 'Playball', cursive;
  font-size: 24px;
  color: #0099f7;
  position: relative;
  letter-spacing: 1px; }

/*------------------------------------------------------------
	Text
------------------------------------------------------------*/
/*------------------------------------------------------------
	Form
------------------------------------------------------------*/
/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
/*------------------------------------------------------------
	Table
------------------------------------------------------------*/
/*------------------------------------------------------------
	List
------------------------------------------------------------*/
/*------------------------------------------------------------
	Slider
------------------------------------------------------------*/
/*------------------------------------------------------------
	Other
------------------------------------------------------------*/
@media (max-width: 767px) {
  .pc {
    display: none; } }

@media (min-width: 768px) {
  .sp {
    display: none; } }

@media (max-width: 1200px) {
  .only-pc {
    display: none; } }

@media (min-width: 1200px) {
  .pc-1200 {
    display: none; } }

.html5-prev-inside .mh-icon-left {
  background: url(../images/common/lightbox-button-prev.png); }

.html5-next-inside .mh-icon-right {
  background: url(../images/common/lightbox-button-next.png); }

.html5-timer {
  background-color: #56ccf2 !important;
  height: 4px !important; }

.html5boxSeekerBuffer, .html5boxVolumeBarBg {
  background-color: white !important; }

.html5boxSeekerPlay {
  background-color: #0099f7 !important; }

.html5boxVolumeBarActive {
  background-color: #0099f7 !important; }

.html5-title-caption {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #0099f7;
  margin-top: 4px;
  float: right;
  text-transform: uppercase;
  font-weight: 500; }

.about {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: calc(100vh - 245px);
  flex-wrap: wrap;
  margin: 40px 0 0; }
  .about__ava {
    background-color: #0099f7;
    height: 170px;
    margin-bottom: 10px; }
  .about__profile {
    width: 400px; }
    .about__profile--title span {
      border-left: 10px solid #0099f7;
      padding: 6px 20px 4px;
      background-color: #fff;
      box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.3); }
    .about__profile--inner {
      font-family: 'Roboto', sans-serif;
      padding: 10px 0 0 27px; }
  .about__edu {
    width: 400px; }
    .about__edu--title span {
      border-left: 10px solid #0099f7;
      padding: 6px 20px 4px;
      background-color: #fff;
      box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.3); }
    .about__edu--inner {
      padding: 10px 0 0 27px; }
      .about__edu--inner .school-uel, .about__edu--inner .school-fpt {
        padding: 7px 0; }
      .about__edu--inner .school-name {
        font-size: 20px;
        font-weight: 500; }
      .about__edu--inner .school-major {
        padding: 12px 0 12px 25px; }
      .about__edu--inner .school-rank {
        padding: 0 0 0 25px; }
        .about__edu--inner .school-rank span {
          font-weight: 500; }
  .about__exp {
    width: calc(100% - 800px);
    height: calc(100vh - 245px);
    padding: 0 50px; }
    .about__exp .about-me {
      line-height: 28px;
      position: relative;
      padding: 29px 35px;
      margin-bottom: 44px; }
      .about__exp .about-me:before {
        content: '';
        width: 50px;
        height: 50px;
        background: url(../../assets/images/common/border01.png) no-repeat;
        position: absolute;
        top: 0;
        left: 0; }
      .about__exp .about-me:after {
        content: '';
        width: 50px;
        height: 50px;
        background: url(../../assets/images/common/border01.png) no-repeat;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: scale(-1); }
      .about__exp .about-me p {
        text-indent: 25px; }
    .about__exp--title span {
      border-left: 10px solid #0099f7;
      padding: 6px 20px 4px;
      background-color: #fff;
      box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.3); }
    .about__exp--inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 20px 0 0 27px; }
      .about__exp--inner .job {
        width: 46%;
        margin-bottom: 20px; }
        .about__exp--inner .job__logo {
          margin-bottom: 10px; }
          .about__exp--inner .job__logo img {
            padding: 15px 20px;
            background-color: #fff;
            box-shadow: inset 3px 3px 3px rgba(51, 51, 51, 0.3); }
        .about__exp--inner .job__title {
          font-weight: 500; }
          .about__exp--inner .job__title--name {
            font-size: 20px; }
          .about__exp--inner .job__title--pos {
            display: flex;
            justify-content: space-between;
            color: #0099f7;
            padding: 10px 0; }
            .about__exp--inner .job__title--pos span {
              color: #333; }
      .about__exp--inner .job__des {
        line-height: 28px; }
  .about__char {
    width: 400px; }
    .about__char--title {
      border-left: 7px solid #0099f7;
      padding: 6px 0 4px 20px;
      background-color: #fff;
      box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.3); }
    .about__char--inner {
      padding: 10px 0 0 25px; }
      .about__char--inner p {
        padding: 3px 0;
        line-height: 28px; }
        .about__char--inner p span {
          font-weight: 500; }
  .about__skill {
    width: 400px; }
    .about__skill--title span {
      border-left: 10px solid #0099f7;
      padding: 6px 20px 4px;
      background-color: #fff;
      box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.3); }
    .about__skill--inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 25px 0 0 27px; }
      .about__skill--inner li {
        width: 21%;
        padding: 10px 8px 8px 10px;
        background-color: #fff;
        box-shadow: inset 3px 3px 3px rgba(51, 51, 51, 0.3);
        margin: 0 0 25px 0; }
        .about__skill--inner li img {
          width: 100%; }
        .about__skill--inner li:nth-last-child(1) {
          width: calc(42% + 16% / 3); }
  .about__passion {
    width: 400px; }
    .about__passion--title span {
      border-left: 10px solid #0099f7;
      padding: 6px 20px 4px;
      background-color: #fff;
      box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.3); }
    .about__passion--inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 25px 0 0 27px; }
      .about__passion--inner li {
        width: 21%;
        padding: 10px 8px 8px 10px;
        background-color: #fff;
        box-shadow: inset 3px 3px 3px rgba(51, 51, 51, 0.3);
        margin: 0 0 25px 0; }
        .about__passion--inner li img {
          width: 100%; }
        .about__passion--inner li:nth-last-child(1) {
          width: calc(42% + 16% / 3); }

.poster {
  margin: 100px 0; }
  .poster__inner {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    padding: 100px; }
    .poster__inner--list {
      display: flex;
      justify-content: center;
      cursor: pointer;
      text-transform: uppercase; }
      .poster__inner--list .all {
        padding: 10px 20px;
        border: 2px solid #56CCF2;
        margin: 0 5px; }
        .poster__inner--list .all:hover, .poster__inner--list .all.active {
          color: #56CCF2;
          background-color: #fff;
          filter: drop-shadow(0 0 1px #56CCF2) drop-shadow(0 0 3px #56CCF2); }
      .poster__inner--list .cate {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap; }
        .poster__inner--list .cate div {
          padding: 10px 20px;
          border: 2px solid #56CCF2;
          margin: 0 5px; }
          .poster__inner--list .cate div:hover, .poster__inner--list .cate div.active {
            color: #56CCF2;
            background-color: #fff;
            filter: drop-shadow(0 0 1px #56CCF2) drop-shadow(0 0 3px #56CCF2); }
    .poster__inner--protect {
      margin-top: 50px;
      background-color: rgba(255, 255, 255, 0.22);
      box-shadow: 5px 5px 5px rgba(86, 204, 242, 0.5) inset, -5px -5px 5px rgba(86, 204, 242, 0.5) inset;
      padding: 50px; }
      .poster__inner--protect .gallery {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 15px; }
        .poster__inner--protect .gallery li {
          width: 22%;
          margin-top: 40px;
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); }
          .poster__inner--protect .gallery li img {
            width: 100%; }
    .poster__inner--softbank {
      margin-top: 50px;
      background-color: rgba(255, 255, 255, 0.5);
      box-shadow: 5px 5px 5px rgba(86, 204, 242, 0.5) inset, -5px -5px 5px rgba(86, 204, 242, 0.5) inset;
      padding: 50px; }
      .poster__inner--softbank .gallery {
        display: flex;
        justify-content: space-between;
        margin-top: 55px; }
        .poster__inner--softbank .gallery li {
          width: 47%;
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); }
          .poster__inner--softbank .gallery li img {
            width: 100%; }
    .poster__inner--food {
      margin-top: 50px;
      background-color: rgba(255, 255, 255, 0.5);
      box-shadow: 5px 5px 5px rgba(86, 204, 242, 0.5) inset, -5px -5px 5px rgba(86, 204, 242, 0.5) inset;
      padding: 50px; }
      .poster__inner--food .gallery {
        display: flex;
        justify-content: space-between;
        margin-top: 55px; }
        .poster__inner--food .gallery__poster {
          width: 38%;
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); }
          .poster__inner--food .gallery__poster img {
            width: 100%; }
        .poster__inner--food .gallery__banner {
          width: 57%;
          display: flex;
          justify-content: space-between;
          flex-direction: column; }
          .poster__inner--food .gallery__banner div {
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); }
            .poster__inner--food .gallery__banner div img {
              width: 100%; }
    .poster__inner--bbskin {
      margin-top: 50px;
      background-color: rgba(255, 255, 255, 0.5);
      box-shadow: 5px 5px 5px rgba(86, 204, 242, 0.5) inset, -5px -5px 5px rgba(86, 204, 242, 0.5) inset;
      padding: 50px; }
      .poster__inner--bbskin .gallery {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 15px; }
        .poster__inner--bbskin .gallery li {
          width: 30%;
          margin-top: 40px;
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); }
          .poster__inner--bbskin .gallery li:hover {
            border: none; }
          .poster__inner--bbskin .gallery li img {
            width: 100%; }

.webdesign {
  margin-top: 50px;
  display: flex;
  justify-content: space-between; }
  .webdesign__menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 50px; }
    .webdesign__menu li {
      min-width: 275px;
      padding: 15px 20px 11px 30px;
      background-color: #fff;
      box-shadow: 5px 5px 5px rgba(51, 51, 51, 0.15);
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 20px;
      position: relative;
      cursor: pointer; }
      .webdesign__menu li:before {
        content: '';
        width: 10px;
        height: 100%;
        background-color: #0099f7;
        position: absolute;
        left: 0;
        top: 0; }
      .webdesign__menu li:hover, .webdesign__menu li.active {
        color: #0099f7;
        box-shadow: 5px 5px 5px rgba(0, 153, 247, 0.3); }
  .webdesign__inner {
    width: 100%; }
    .webdesign__inner--sbc {
      display: flex;
      justify-content: space-between;
      flex-direction: column; }
      .webdesign__inner--sbc .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px; }
        .webdesign__inner--sbc .content:hover p {
          color: #0099f7; }
        .webdesign__inner--sbc .content .arrows {
          display: flex;
          align-items: center;
          writing-mode: vertical-rl;
          font-size: 36px;
          user-select: none; }
          .webdesign__inner--sbc .content .arrows span {
            margin: 20px 0; }
          .webdesign__inner--sbc .content .arrows p {
            font-size: 24px;
            margin-right: 5px; }
        .webdesign__inner--sbc .content .box {
          display: flex;
          justify-content: space-between; }
          .webdesign__inner--sbc .content .box li {
            max-width: 465px;
            width: 32%;
            padding: 25px;
            background-color: #fff;
            box-shadow: 5px 5px 5px rgba(51, 51, 51, 0.15); }
            .webdesign__inner--sbc .content .box li .blue, .webdesign__inner--sbc .content .box li .gold, .webdesign__inner--sbc .content .box li .pink {
              height: calc(100vh - 379px);
              overflow-y: auto; }
              .webdesign__inner--sbc .content .box li .blue::-webkit-scrollbar, .webdesign__inner--sbc .content .box li .gold::-webkit-scrollbar, .webdesign__inner--sbc .content .box li .pink::-webkit-scrollbar {
                width: 0px; }
              .webdesign__inner--sbc .content .box li .blue::-webkit-scrollbar-track, .webdesign__inner--sbc .content .box li .gold::-webkit-scrollbar-track, .webdesign__inner--sbc .content .box li .pink::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
              .webdesign__inner--sbc .content .box li .blue::-webkit-scrollbar-thumb, .webdesign__inner--sbc .content .box li .gold::-webkit-scrollbar-thumb, .webdesign__inner--sbc .content .box li .pink::-webkit-scrollbar-thumb {
                background-color: darkgrey;
                outline: 1px solid slategrey; }
              .webdesign__inner--sbc .content .box li .blue img, .webdesign__inner--sbc .content .box li .gold img, .webdesign__inner--sbc .content .box li .pink img {
                width: 100%; }
          .webdesign__inner--sbc .content .box li:nth-child(1) {
            border: 7px solid #03497b; }
          .webdesign__inner--sbc .content .box li:nth-child(2) {
            border: 7px solid #faca21; }
          .webdesign__inner--sbc .content .box li:nth-child(3) {
            border: 7px solid #ea1966; }
    .webdesign__inner--bread .box, .webdesign__inner--cheese .box, .webdesign__inner--star .box, .webdesign__inner--lol .box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 25px; }
      .webdesign__inner--bread .box:hover p, .webdesign__inner--cheese .box:hover p, .webdesign__inner--star .box:hover p, .webdesign__inner--lol .box:hover p {
        color: #0099f7; }
      .webdesign__inner--bread .box .arrows, .webdesign__inner--cheese .box .arrows, .webdesign__inner--star .box .arrows, .webdesign__inner--lol .box .arrows {
        display: flex;
        align-items: center;
        writing-mode: vertical-rl;
        font-size: 36px;
        user-select: none; }
        .webdesign__inner--bread .box .arrows span, .webdesign__inner--cheese .box .arrows span, .webdesign__inner--star .box .arrows span, .webdesign__inner--lol .box .arrows span {
          margin: 20px 0; }
        .webdesign__inner--bread .box .arrows p, .webdesign__inner--cheese .box .arrows p, .webdesign__inner--star .box .arrows p, .webdesign__inner--lol .box .arrows p {
          font-size: 24px;
          margin-right: 5px; }
      .webdesign__inner--bread .box .image, .webdesign__inner--cheese .box .image, .webdesign__inner--star .box .image, .webdesign__inner--lol .box .image {
        margin: 0 10px;
        height: calc(100vh - 315px);
        box-shadow: 5px 5px 5px rgba(51, 51, 51, 0.15);
        overflow-y: auto; }
        .webdesign__inner--bread .box .image::-webkit-scrollbar, .webdesign__inner--cheese .box .image::-webkit-scrollbar, .webdesign__inner--star .box .image::-webkit-scrollbar, .webdesign__inner--lol .box .image::-webkit-scrollbar {
          width: 0px; }
        .webdesign__inner--bread .box .image::-webkit-scrollbar-track, .webdesign__inner--cheese .box .image::-webkit-scrollbar-track, .webdesign__inner--star .box .image::-webkit-scrollbar-track, .webdesign__inner--lol .box .image::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
        .webdesign__inner--bread .box .image::-webkit-scrollbar-thumb, .webdesign__inner--cheese .box .image::-webkit-scrollbar-thumb, .webdesign__inner--star .box .image::-webkit-scrollbar-thumb, .webdesign__inner--lol .box .image::-webkit-scrollbar-thumb {
          background-color: darkgrey;
          outline: 1px solid slategrey; }
        .webdesign__inner--bread .box .image img, .webdesign__inner--cheese .box .image img, .webdesign__inner--star .box .image img, .webdesign__inner--lol .box .image img {
          width: 100%; }

.model3d {
  margin-top: 50px;
  display: flex;
  justify-content: space-between; }
  .model3d__menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 50px; }
    .model3d__menu li {
      min-width: 275px;
      padding: 15px 20px 11px 30px;
      background-color: #fff;
      box-shadow: 5px 5px 5px rgba(51, 51, 51, 0.15);
      font-size: 20px;
      margin-bottom: 20px;
      position: relative;
      cursor: pointer; }
      .model3d__menu li:before {
        content: '';
        width: 10px;
        height: 100%;
        background-color: #0099f7;
        position: absolute;
        left: 0;
        top: 0; }
      .model3d__menu li:hover, .model3d__menu li.active {
        color: #0099f7;
        box-shadow: 5px 5px 5px rgba(0, 153, 247, 0.3); }
  .model3d__inner {
    width: 100%; }
    .model3d__inner--talon {
      display: flex;
      justify-content: space-between;
      flex-direction: column; }
      .model3d__inner--talon .box {
        display: flex;
        justify-content: space-between;
        margin-top: 25px; }
        .model3d__inner--talon .box li:first-child {
          width: 70%;
          max-width: 1021px;
          max-height: 625px;
          padding: 25px;
          background-color: #fff;
          box-shadow: 5px 5px 5px rgba(51, 51, 51, 0.15); }
          .model3d__inner--talon .box li:first-child:hover {
            box-shadow: 5px 5px 5px rgba(0, 153, 247, 0.3); }
          .model3d__inner--talon .box li:first-child img {
            width: 100%;
            max-height: 575px; }
        .model3d__inner--talon .box__sideview {
          display: flex;
          justify-content: space-between;
          align-content: space-between;
          flex-wrap: wrap;
          width: 30%;
          margin-left: 50px; }
          .model3d__inner--talon .box__sideview div {
            width: 45%;
            max-height: 300px;
            padding: 20px;
            background-color: #fff;
            box-shadow: 5px 5px 5px rgba(51, 51, 51, 0.15); }
            .model3d__inner--talon .box__sideview div:hover {
              box-shadow: 5px 5px 5px rgba(0, 153, 247, 0.3); }
            .model3d__inner--talon .box__sideview div img {
              width: 100%; }

.lol {
  margin-top: 50px;
  display: flex;
  justify-content: space-between; }
  .lol .lol-menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 50px; }
    .lol .lol-menu li {
      min-width: 215px;
      padding: 15px 20px 11px 30px;
      background-color: #fff;
      box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.3);
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 20px;
      position: relative;
      cursor: pointer; }
      .lol .lol-menu li:before {
        content: '';
        width: 10px;
        height: 100%;
        background-color: #0099f7;
        position: absolute;
        left: 0;
        top: 0; }
      .lol .lol-menu li a {
        display: block;
        color: #333;
        text-decoration: none; }
      .lol .lol-menu li:hover, .lol .lol-menu li.active {
        box-shadow: 3px 3px 3px rgba(0, 153, 247, 0.3); }
        .lol .lol-menu li:hover a, .lol .lol-menu li.active a {
          color: #0099f7; }
  .lol .lol-inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: calc(100vw - 365px);
    height: calc(100vh - 245px);
    position: relative; }
    .lol .lol-inner__about .intro {
      line-height: 28px;
      position: relative;
      padding: 25px; }
      .lol .lol-inner__about .intro:before {
        content: '';
        width: 50px;
        height: 50px;
        background: url(../../assets/images/common/border01.png) no-repeat;
        position: absolute;
        top: 0;
        left: 0; }
      .lol .lol-inner__about .intro:after {
        content: '';
        width: 50px;
        height: 50px;
        background: url(../../assets/images/common/border01.png) no-repeat;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: scale(-1); }
      .lol .lol-inner__about .intro p {
        padding: 25px 0;
        position: relative; }
        .lol .lol-inner__about .intro p span {
          font-family: 'Playball', cursive;
          font-size: 32px;
          letter-spacing: 1px;
          color: #0099f7; }
        .lol .lol-inner__about .intro p:before {
          content: '';
          width: 25%;
          height: 2px;
          background-color: #0099f7;
          position: absolute;
          top: 0;
          right: -25px; }
        .lol .lol-inner__about .intro p:after {
          content: '';
          width: 25%;
          height: 2px;
          background-color: #0099f7;
          position: absolute;
          bottom: 0;
          left: -25px; }
    .lol .lol-inner__about .video {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 25px;
      position: relative; }
      .lol .lol-inner__about .video video {
        width: 50%;
        margin: 0 50px; }
    .lol .lol-inner__cine {
      position: relative; }
      .lol .lol-inner__cine .list {
        display: flex;
        justify-content: space-between; }
        .lol .lol-inner__cine .list--item {
          width: 13%;
          position: relative;
          text-align: center;
          font-weight: 500;
          background-color: #fff;
          padding: 10px 8px 8px 10px;
          box-shadow: inset 3px 3px 3px rgba(51, 51, 51, 0.3);
          cursor: pointer; }
          .lol .lol-inner__cine .list--item:hover, .lol .lol-inner__cine .list--item.active {
            box-shadow: inset 3px 3px 3px rgba(0, 153, 247, 0.3); }
            .lol .lol-inner__cine .list--item:hover p, .lol .lol-inner__cine .list--item.active p {
              opacity: 1; }
          .lol .lol-inner__cine .list--item img {
            width: 100%; }
          .lol .lol-inner__cine .list--item p {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            align-items: flex-end;
            text-align: center;
            padding-bottom: 2px;
            font-family: 'Playball', cursive;
            font-size: 20px;
            letter-spacing: 1px;
            position: absolute;
            top: 10px;
            right: 8px;
            bottom: 8px;
            left: 10px;
            opacity: 0;
            color: #fff;
            background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0) 50%);
            transition: all 0.2s ease; }
      .lol .lol-inner__cine .video {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px; }
        .lol .lol-inner__cine .video video {
          width: 50%; }
    .lol .lol-inner__reg {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      flex-wrap: wrap;
      align-content: space-between;
      width: calc(100% + 20px);
      height: calc(100vh - 315px);
      position: relative;
      z-index: 3; }
      .lol .lol-inner__reg .item {
        max-width: 295px;
        width: calc(20% - 16px);
        height: calc(100% / 3 - 40px / 3);
        margin-right: 20px;
        position: relative;
        text-align: center;
        background-color: #fff;
        padding: 10px 8px 8px 10px;
        box-shadow: inset 3px 3px 3px rgba(51, 51, 51, 0.3);
        transition: 0.2s ease-in-out;
        cursor: pointer; }
        .lol .lol-inner__reg .item a {
          text-decoration: none; }
          .lol .lol-inner__reg .item a .reg--bg {
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            position: relative; }
            .lol .lol-inner__reg .item a .reg--bg img {
              height: 60px;
              transition: 0.2s ease-in-out;
              z-index: 3;
              position: relative;
              margin-bottom: 10px; }
            .lol .lol-inner__reg .item a .reg--bg p {
              font-family: 'Playball', cursive;
              font-size: 20px;
              width: 100%;
              color: #fff;
              letter-spacing: 1px;
              position: relative;
              text-align: center;
              transition: 0.2s ease-in-out;
              z-index: 3; }
            .lol .lol-inner__reg .item a .reg--bg:before {
              content: '';
              width: calc(100% - 18px);
              height: calc(100% - 18px);
              position: absolute;
              top: 10px;
              right: 8px;
              bottom: 8px;
              left: 10px;
              z-index: 1; }
            .lol .lol-inner__reg .item a .reg--bg:after {
              content: '';
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.3);
              background-size: contain;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: 1; }
        .lol .lol-inner__reg .item:hover {
          box-shadow: inset 3px 3px 3px rgba(0, 153, 247, 0.3); }
          .lol .lol-inner__reg .item:hover p {
            text-shadow: 0px 0px 5px #0099f7, 0px 0px 10px #0099f7, 0px 0px 15px #0099f7, 0px 0px 20px #0099f7; }
          .lol .lol-inner__reg .item:hover img {
            -webkit-filter: drop-shadow(0px 0px 3px #0099f7) drop-shadow(0px 0px 7px #0099f7);
            filter: drop-shadow(0px 0px 3 px #0099f7) drop-shadow(0px 0px 7px #0099f7); }
    .lol .lol-inner__reg-detail .intro {
      display: block;
      margin-bottom: 30px; }
      .lol .lol-inner__reg-detail .intro__logo {
        float: left;
        margin-right: 25px;
        padding: 10px 8px 8px 10px;
        background-color: #fff;
        box-shadow: inset 3px 3px 3px rgba(51, 51, 51, 0.3); }
      .lol .lol-inner__reg-detail .intro__text--title {
        line-height: 1;
        margin-bottom: 10px; }
      .lol .lol-inner__reg-detail .intro__text--voice {
        font-size: 16px;
        font-weight: 500;
        font-style: italic;
        margin-bottom: 5px; }
        .lol .lol-inner__reg-detail .intro__text--voice span {
          font-style: normal; }
      .lol .lol-inner__reg-detail .intro__text--words {
        line-height: 28px; }
    .lol .lol-inner__reg-detail .image {
      display: flex;
      justify-content: space-between;
      height: calc(100vh - 610px);
      margin-bottom: 40px; }
      .lol .lol-inner__reg-detail .image__champ {
        width: 67%; }
      .lol .lol-inner__reg-detail .image__vision {
        width: 30%; }
      .lol .lol-inner__reg-detail .image__title {
        margin-bottom: 35px; }
      .lol .lol-inner__reg-detail .image__list {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: wrap;
        height: calc(100vh - 669px); }
        .lol .lol-inner__reg-detail .image__list .reg-item {
          height: calc(50% - 10px);
          position: relative;
          cursor: pointer; }
        .lol .lol-inner__reg-detail .image__list .champ01 {
          width: calc(25% - 15px); }
        .lol .lol-inner__reg-detail .image__list .champ02 {
          width: calc(20% - 16px); }
        .lol .lol-inner__reg-detail .image__list .champ03 {
          width: calc(100% / 8 - 17.5px); }
        .lol .lol-inner__reg-detail .image__list .champ04 {
          width: calc(100% / 7 - 120px / 7);
          height: calc(100% / 3 - 40px / 3); }
        .lol .lol-inner__reg-detail .image__list .champ05 {
          width: calc(100% / 6 - 50px / 3);
          height: 100%; }
        .lol .lol-inner__reg-detail .image__list .champ06 {
          width: calc(100% / 6 - 50px / 3); }
        .lol .lol-inner__reg-detail .image__list .champ07 {
          width: calc(100% / 7 - 120px / 7); }
        .lol .lol-inner__reg-detail .image__list .vision01 {
          width: calc(30% - 12px); }
        .lol .lol-inner__reg-detail .image__list .vision02 {
          width: calc(40% - 16px); }
        .lol .lol-inner__reg-detail .image__list .vision03 {
          width: calc(50% - 10px); }
        .lol .lol-inner__reg-detail .image__list .vision04 {
          width: calc(35% - 10px); }
        .lol .lol-inner__reg-detail .image__list .vision05 {
          width: calc(60% - 4px); }
      .lol .lol-inner__reg-detail .image .list-champ {
        flex-direction: column; }
      .lol .lol-inner__reg-detail .image__inner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
        z-index: 1;
        padding: 10px 8px 8px 10px;
        background-color: #fff;
        box-shadow: inset 3px 3px 3px rgba(51, 51, 51, 0.3);
        transition: all .3s ease; }
        .lol .lol-inner__reg-detail .image__inner:hover {
          box-shadow: inset 3px 3px 3px rgba(0, 153, 247, 0.5); }
          .lol .lol-inner__reg-detail .image__inner:hover .reg-text__box {
            opacity: 1; }
        .lol .lol-inner__reg-detail .image__inner .reg-bg {
          position: absolute;
          top: 10px;
          left: 10px;
          bottom: 8px;
          right: 8px;
          background-color: #0a0a0c;
          background-repeat: no-repeat;
          background-size: cover;
          transition: opacity .3s ease; }
        .lol .lol-inner__reg-detail .image__inner .reg-text {
          position: absolute;
          top: 10px;
          left: 10px;
          bottom: 8px;
          right: 8px;
          transition: all .3s ease;
          z-index: 5; }
          .lol .lol-inner__reg-detail .image__inner .reg-text__box {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: column;
            position: absolute;
            text-align: center;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            color: #fff;
            text-transform: capitalize;
            line-height: 28px;
            transition: .2s;
            opacity: 0;
            background-color: rgba(0, 153, 247, 0.7); }
    .lol .lol-inner__reg-detail .other {
      display: flex;
      justify-content: center; }
      .lol .lol-inner__reg-detail .other .other-reg {
        width: 75px;
        padding: 10px 8px 8px 10px;
        margin: 0 10px;
        background-color: #fff;
        box-shadow: inset 3px 3px 3px rgba(51, 51, 51, 0.3);
        transition: all .4s ease;
        cursor: pointer; }
        .lol .lol-inner__reg-detail .other .other-reg img {
          width: 100%; }
        .lol .lol-inner__reg-detail .other .other-reg:hover {
          box-shadow: inset 3px 3px 3px rgba(0, 153, 247, 0.3);
          transform: scale(1.2); }
    .lol .lol-inner__champ .champ-list {
      display: flex;
      justify-content: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      width: calc(100% + 20px);
      height: calc(100vh - 395px); }
      .lol .lol-inner__champ .champ-list .champ-item {
        margin: 0 20px 20px 0;
        max-width: 242.5px;
        width: calc(100% / 6 - 50px / 3);
        height: calc(100% / 3 - 40px / 3);
        position: relative;
        cursor: pointer; }
        .lol .lol-inner__champ .champ-list .champ-item__inner {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          overflow: hidden;
          z-index: 1;
          padding: 10px 8px 8px 10px;
          background-color: #fff;
          box-shadow: inset 3px 3px 3px rgba(51, 51, 51, 0.3);
          transition: all .3s ease; }
          .lol .lol-inner__champ .champ-list .champ-item__inner:hover {
            box-shadow: inset 3px 3px 3px rgba(0, 153, 247, 0.5); }
            .lol .lol-inner__champ .champ-list .champ-item__inner:hover .champ-text {
              text-shadow: 0px 0px 5px #0099f7, 0px 0px 10px #0099f7, 0px 0px 15px #0099f7, 0px 0px 20px #0099f7; }
          .lol .lol-inner__champ .champ-list .champ-item__inner .champ-bg {
            position: absolute;
            top: 10px;
            left: 10px;
            bottom: 8px;
            right: 8px;
            background-color: #0a0a0c;
            background-repeat: no-repeat;
            background-size: cover;
            transition: opacity .3s ease; }
            .lol .lol-inner__champ .champ-list .champ-item__inner .champ-bg:before {
              content: '';
              width: 100%;
              height: 100%;
              background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0) 50%);
              background-size: contain;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: 1; }
          .lol .lol-inner__champ .champ-list .champ-item__inner .champ-text {
            font-family: 'Playball', cursive;
            font-size: 20px;
            letter-spacing: 1px;
            width: calc(100% - 18px);
            text-align: center;
            text-transform: capitalize;
            position: absolute;
            bottom: 8px;
            color: #fff;
            line-height: 24px;
            transition: all .3s ease;
            z-index: 3; }
    .lol .lol-inner__champ .champ-pagi {
      display: flex;
      justify-content: center;
      margin-top: 40px; }
      .lol .lol-inner__champ .champ-pagi .pagi-item {
        padding: 8px 14px;
        background-color: #fff;
        margin: 0 8px;
        box-shadow: 2px 2px 2px rgba(51, 51, 51, 0.3);
        font-size: 20px;
        font-weight: 500;
        cursor: pointer; }
        .lol .lol-inner__champ .champ-pagi .pagi-item:hover {
          box-shadow: inset 2px 2px 2px rgba(51, 51, 51, 0.3); }
        .lol .lol-inner__champ .champ-pagi .pagi-item.active {
          color: #0099f7;
          box-shadow: inset 2px 2px 2px rgba(0, 153, 247, 0.3); }
    .lol .lol-inner__footer {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 40px; }
      .lol .lol-inner__footer .logo {
        height: 40px;
        margin: 0 25px; }
        .lol .lol-inner__footer .logo img {
          margin: 0 15px; }
      .lol .lol-inner__footer .social {
        margin: 0 25px; }
        .lol .lol-inner__footer .social img {
          border-radius: 20px;
          margin: 0 15px;
          background-color: #fff;
          box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.3); }
          .lol .lol-inner__footer .social img:hover {
            box-shadow: 3px 3px 3px rgba(0, 153, 247, 0.3); }
