/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
nav,
section,
time,
mark,
audio,
video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block; }

html {
  font-size: 62.5%; }

body {
  -webkit-text-size-adjust: 100%; }

body,
table,
input,
textarea,
select,
option,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold; }

table,
input,
textarea,
select,
option {
  line-height: 1.1; }

ol,
ul,
div {
  list-style: none; }

blockquote,
q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

img {
  vertical-align: top; }

a {
  transition: 0.3s ease-in-out; }

form label {
  cursor: pointer; }

button:focus {
  outline: none; }

/*------------------------------------------------------------
	Clearfix
------------------------------------------------------------*/
/*------------------------------------------------------------
	Media
------------------------------------------------------------*/
/*------------------------------------------------------------
	Flex Box
------------------------------------------------------------*/
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
html {
  scroll-behavior: smooth;
  box-sizing: border-box; }

.container {
  width: 1200px;
  margin: 0 auto;
  max-width: 100%; }

.lang {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 110px;
  height: 40px;
  padding: 5px;
  position: absolute;
  right: 40px;
  bottom: 15px;
  background-color: white;
  border-radius: 20px;
  transition: box-shadow 0.3s ease; }

.lang__EN, .lang__VN {
  width: 50px;
  padding: 5px 0;
  text-align: center;
  font-weight: 500;
  color: #0b9ed9;
  z-index: 3;
  cursor: pointer; }

.lang__EN {
  border-radius: 20px 0 0 20px; }

.lang__VN {
  border-radius: 0 20px 20px 0; }

.lang__EN.active, .lang__VN.active {
  color: #ffffff; }

.lang__bg {
  width: 50px;
  height: 30px;
  background-color: #0b9ed9;
  border-radius: 20px;
  position: absolute;
  z-index: 0; }

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-size: 16px; }
  body .background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  body .main {
    width: 1200px;
    height: 680px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    body .main .content {
      width: 100%;
      height: 530px;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 20px;
      color: #fff;
      backdrop-filter: blur(5px);
      box-shadow: 3px 3px 5px #fff; }
    body .main .navi {
      position: absolute;
      left: 10%;
      bottom: 0;
      width: 80%;
      height: 100px;
      perspective: 200px; }
      body .main .navi__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        height: 100px;
        padding: 25px 50px; }
        body .main .navi__inner:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100px;
          background-color: rgba(0, 0, 0, 0.3);
          border-radius: 20px;
          transform-style: preserve-3d;
          transform: rotateX(3deg);
          backdrop-filter: blur(5px);
          box-shadow: 3px 3px 5px #fff; }
        body .main .navi__inner--today {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          flex-direction: column;
          height: 50px;
          font-size: 16px;
          color: #fff;
          position: relative;
          transform-style: preserve-3d;
          transform: rotateX(3deg); }
          body .main .navi__inner--today:before {
            content: '';
            width: 20px;
            height: 15px;
            background: url(../../assets/images/common/wifi.png) no-repeat;
            position: absolute;
            right: 0;
            top: 0; }
        body .main .navi__inner--ava {
          position: relative;
          transform-style: preserve-3d;
          transform: rotateX(3deg); }
          body .main .navi__inner--ava:before {
            content: '';
            width: 15px;
            height: 15px;
            border-radius: 15px;
            background-color: #6ebf49;
            position: absolute;
            right: 0;
            bottom: 0; }
        body .main .navi__inner--menu {
          transform: none; }
          body .main .navi__inner--menu ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            width: 600px;
            height: 50px; }
            body .main .navi__inner--menu ul li {
              cursor: pointer;
              position: relative;
              transition: filter 0.3s ease; }
              body .main .navi__inner--menu ul li:hover, body .main .navi__inner--menu ul li.active {
                filter: drop-shadow(0px 0px 1px #0b9ed9) drop-shadow(0px 0px 3px #0b9ed9) drop-shadow(0px 0px 5px #0b9ed9); }

/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
.c-header {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background: #0b9ed9;
  transition: 0.3s ease-in-out; }

/*------------------------------------------------------------
	Footer
------------------------------------------------------------*/
.c-footer {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background: #0b9ed9; }

/*------------------------------------------------------------
	Side
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
/*------------------------------------------------------------
	Title
------------------------------------------------------------*/
/*------------------------------------------------------------
	Text
------------------------------------------------------------*/
/*------------------------------------------------------------
	Form
------------------------------------------------------------*/
/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
/*------------------------------------------------------------
	Table
------------------------------------------------------------*/
/*------------------------------------------------------------
	List
------------------------------------------------------------*/
/*------------------------------------------------------------
	Slider
------------------------------------------------------------*/
/*------------------------------------------------------------
	Other
------------------------------------------------------------*/
.content__profile {
  position: relative; }
  .content__profile--info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 40px 40px 0; }
    .content__profile--info .ava {
      width: 120px;
      height: 120px;
      border-radius: 140px;
      background-color: #fff;
      margin-right: 40px; }
    .content__profile--info .about {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      width: 600px;
      line-height: 1; }
      .content__profile--info .about .name {
        font-size: 40px;
        font-weight: 500;
        filter: drop-shadow(0px 0px 1px #0b9ed9) drop-shadow(0px 0px 3px #0b9ed9) drop-shadow(0px 0px 5px #0b9ed9); }
      .content__profile--info .about .career {
        font-size: 20px;
        font-style: italic; }
      .content__profile--info .about .intro {
        font-size: 16px;
        padding: 10px 20px;
        background-color: rgba(11, 158, 217, 0.8);
        border-radius: 20px; }
  .content__profile--exp {
    height: 300px; }
  .content__profile--contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    font-size: 16px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0 0 20px 20px; }
    .content__profile--contact ul li {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      height: 30px; }
      .content__profile--contact ul li:nth-child(1) {
        background: url(../../assets/images/common/phone.png) no-repeat;
        padding-left: 50px; }
      .content__profile--contact ul li:nth-child(2) {
        background: url(../../assets/images/common/mail.png) no-repeat;
        padding-left: 63px; }
      .content__profile--contact ul li:nth-child(3) {
        background: url(../../assets/images/common/address.png) no-repeat;
        padding-left: 43px; }

.content__webcode--header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px 20px 0 0; }
  .content__webcode--header .title {
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
    filter: drop-shadow(0px 0px 1px #0b9ed9) drop-shadow(0px 0px 3px #0b9ed9) drop-shadow(0px 0px 5px #0b9ed9); }
  .content__webcode--header .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 680px; }
    .content__webcode--header .nav li {
      font-weight: 500;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 40px;
      padding: 10px 20px;
      color: #fff;
      cursor: pointer;
      transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; }
      .content__webcode--header .nav li:hover, .content__webcode--header .nav li.active {
        color: #0b9ed9;
        background-color: white;
        box-shadow: 3px 3px 5px #0b9ed9; }

.content__webcode--body .webcode__about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 372px; }
  .content__webcode--body .webcode__about .intro {
    width: 50%;
    padding: 0 40px;
    line-height: 32px; }
    .content__webcode--body .webcode__about .intro p {
      margin: 20px 0;
      text-align: justify; }
  .content__webcode--body .webcode__about .video {
    width: 50%;
    padding: 0 40px; }
    .content__webcode--body .webcode__about .video video {
      border-radius: 20px; }

.content__webcode--body .webcode__cine {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
  height: 372px; }
  .content__webcode--body .webcode__cine .slideshow {
    width: 400px;
    margin: 0 40px; }
    .content__webcode--body .webcode__cine .slideshow__text {
      font-size: 24px;
      font-weight: 500;
      color: #fff;
      padding-bottom: 10px;
      text-align: center; }
    .content__webcode--body .webcode__cine .slideshow__pagi {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      height: 20px; }
      .content__webcode--body .webcode__cine .slideshow__pagi .dot {
        cursor: pointer;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        background-color: #fff;
        border-radius: 10px;
        transition: background-color 0.3s ease; }
        .content__webcode--body .webcode__cine .slideshow__pagi .dot:hover, .content__webcode--body .webcode__cine .slideshow__pagi .dot.active {
          background-color: #0b9ed9; }
  .content__webcode--body .webcode__cine .prev, .content__webcode--body .webcode__cine .next {
    width: 40px;
    display: flex;
    height: 230px;
    align-items: center; }
    .content__webcode--body .webcode__cine .prev a, .content__webcode--body .webcode__cine .next a {
      width: 40px;
      height: 45px;
      user-select: none;
      text-align: center;
      transition: background-image 0.3s ease;
      cursor: pointer; }
  .content__webcode--body .webcode__cine .prev a {
    background: url(../../../assets/images/port-1/arrow-prev.png); }
    .content__webcode--body .webcode__cine .prev a:hover {
      background: url(../../../assets/images/port-1/arrow-prev-hover.png); }
  .content__webcode--body .webcode__cine .next a {
    background: url(../../../assets/images/port-1/arrow-next.png); }
    .content__webcode--body .webcode__cine .next a:hover {
      background: url(../../../assets/images/port-1/arrow-next-hover.png); }
  .content__webcode--body .webcode__cine .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

.content__webcode--footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0 0 20px 20px; }
  .content__webcode--footer .logo, .content__webcode--footer .social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 70px;
    margin-left: 100px; }
  .content__webcode--footer .social {
    margin-left: 120px; }
    .content__webcode--footer .social li {
      transition: filter 0.3s ease; }
    .content__webcode--footer .social li:hover {
      filter: drop-shadow(0px 0px 1px #0b9ed9) drop-shadow(0px 0px 3px #0b9ed9) drop-shadow(0px 0px 5px #0b9ed9); }
