.lol-bg{
    position: relative;
    &:before {
        content: '';
        width: 100vw;
        height: 100vh;
        background-color: rgba($color: #000, $alpha: 0.5);
        position: absolute;
        left: 0;
        top: 0;
    }
}
.lol {
    margin-top: 40px;
    @include flex-jbetween;
    .lol-menu {
        @include flex-jstart;
        flex-direction: column;
        li {
            min-width: 165px;
            padding: 14px 20px 12px;
            margin-bottom: 20px;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 20px;
            position: relative; 
            background-color: rgba($color: #000, $alpha: 0.5);
            backdrop-filter: blur(3px);        
            cursor: pointer;  
            transition: all 0.3s ease-in-out;
            @include max(1440px) {
                font-size: 16px;
                min-width: 150px;
            }
            a {
                display: block; 
                color: $color1;   
                text-decoration: none;  
            }
            &:hover, &.active {
                background-color: rgba($color: #fff, $alpha: 1);
                a {               
                    color: $color2;     
                }
            }
        }
    }
    .lol-inner {
        @include flex-jbetween;
        flex-direction: column;
        width: calc(100vw - 315px);
        position: relative;
        padding: 25px;
        background-color: rgba($color: #000, $alpha: 0.5);
        backdrop-filter: blur(3px);
        @include max(1440px) {
            width: calc(100vw - 300px);
            height: calc(100vh - 175px);
        }
        &__about {
            .intro {
                line-height: 28px;                
                position: relative;
                padding: 25px;
                &:before {
                    content: '';
                    width: 50px;
                    height: 50px;
                    background: url(../../assets/images/common/border01.png) no-repeat;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                &:after {
                    content: '';
                    width: 50px;
                    height: 50px;
                    background: url(../../assets/images/common/border01.png) no-repeat;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    transform: scale(-1);
                }
                p {
                    color: $color1;
                    padding: 25px 0;
                    position: relative;
                    span {
                        font-family: 'Playball', cursive;
                        font-size: 32px;
                        letter-spacing: 1px;
                        color: $color3;
                    }
                    &:before {
                        content: '';
                        width: 25%;
                        height: 2px;
                        background-color: $color3;
                        position: absolute;
                        top: 0;
                        right: -25px;
                    }
                    &:after {
                        content: '';
                        width: 25%;
                        height: 2px;
                        background-color: $color3;
                        position: absolute;
                        bottom: 0;
                        left: -25px;
                    }
                }
            }                
            .video {
                @include flex-jcenter;
                align-items: center;
                margin-top: 25px;
                position: relative;
                video {
                    width: 50%;
                    margin: 0 50px;
                }
            }         
        }
        &__cine {            
            position: relative;
            .list {
                @include flex-jbetween;
                &--item {
                    width: 13%;
                    position: relative;
                    text-align: center;
                    font-weight: 500;
                    background-color: $color1;
                    padding: 10px 8px 8px 10px;
                    box-shadow: inset 3px 3px 3px rgba($color: $color2, $alpha: 0.3);
                    cursor: pointer;
                    &:hover, &.active {
                        box-shadow: inset 3px 3px 3px rgba($color: $color3, $alpha: 0.3);
                        p {
                            opacity: 1;
                        }
                    }
                    img {
                        width: 100%;                      
                    }
                    p {
                        @include flex-center;
                        align-items: flex-end;
                        text-align: center;
                        padding-bottom: 2px;
                        font-family: 'Playball', cursive;
                        font-size: 20px;
                        letter-spacing: 1px;
                        position: absolute;
                        top: 10px;
                        right: 8px;
                        bottom: 8px;
                        left: 10px;
                        opacity: 0;
                        color: $color1;
                        background-image: linear-gradient(to top, rgba($color: #000, $alpha: 1), rgba($color: #000, $alpha: 0) 50%);
                        transition: all 0.2s ease;
                    }
                }
            }
            .video {        
                @include flex-jcenter;
                align-items: center;        
                margin-top: 40px;
                video {
                    width: 50%;
                }
            }
        }
        &__reg {                 
            @include flex-center;
            flex-wrap: wrap;
            align-content: space-between;
            width: calc(100% + 50px);
            height: calc(100vh - 325px);
            margin: 10px -25px 0;
            position: relative;
            z-index: 3;
            @include max(1440px) {
                height: calc(100vh - 310px);
            }
            .item {
                @include flex-jcenter;
                overflow: hidden;
                width: calc(20% - 46px);
                height: calc(100% / 3 - 28px);
                margin: 0 20px;
                position: relative;   
                text-align: center;
                outline: 5px solid $color1;
                transition: all 0.3s ease;
                cursor: pointer;
                a {
                    @include flex-jcenter;
                    width: 100%;
                    text-decoration: none;  
                    position: relative;   
                    video {
                        position: relative;
                        height: 100%;
                        z-index: 1;
                    }   
                    img {
                        left: 50%;
                        top: 20%;
                        transform: translateX(-50%);
                        height: 60px;
                        transition: all 0.3s ease;
                        z-index: 3;
                        text-align: center;
                        position: absolute;
                        margin-bottom: 10px;
                        @include max(1440px) {
                            height: 50px;
                        }
                    }
                    span {
                        width: 100%;
                        left: 0;
                        bottom: 20%;
                        font-family: 'Playball', cursive;
                        font-size: 20px;
                        color: $color1;
                        letter-spacing: 1px;
                        position: absolute;
                        transition: all 0.3s ease;
                        z-index: 3;
                        @include max(1440px) {
                            font-size: 16px;
                        }
                    }  
                    &:before {
                        content: '';
                        width: 100%;
                        height: 100%;
                        background-color: rgba($color: #000, $alpha: 0.3);
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 3;
                    }  
                }
                &:hover {
                    transform: scale(1.1);
                    span {
                        text-shadow: 0px 0px 5px $color3, 0px 0px 10px $color3, 0px 0px 15px $color3, 0px 0px 20px $color3;
                    }
                    img {                        
                        -webkit-filter: drop-shadow(0px 0px 3px $color3) drop-shadow(0px 0px 7px $color3);
                        filter: drop-shadow(0px 0px 3 px $color3) drop-shadow(0px 0px 7px $color3);
                    }
                }             
                
            }  
        }
        &__reg-detail {
            .intro {
                color: $color1;
                margin-bottom: 15px;
                &__title {
                    font-family: 'Playball', cursive;
                    font-size: 32px;
                    letter-spacing: 1px;
                    line-height: 1;
                    margin-bottom: 10px;
                    text-shadow: 0px 0px 5px $color3, 0px 0px 10px $color3, 0px 0px 15px $color3, 0px 0px 20px $color3, 0px 0px 25px $color3;
                    @include max(1440px) {
                        font-size: 28px;
                    }
                }
                &__voice {
                    font-size: 16px;
                    font-weight: 500;
                    font-style: italic;
                    margin-bottom: 5px;
                    color: $color3;
                }                            
                &__words {                                
                    line-height: 28px;
                }
            }
            .image {       
                @include flex-jbetween;
                height: calc(100vh - 555px);
                margin-bottom: 25px;
                @include max(1440px) {
                    height: calc(100vh - 544px);
                }
                &__champ {
                    width: 67%;   
                }
                &__vision {
                    width: 30%; 
                } 
                &__title {                                
                    margin-bottom: 35px;  
                    @include max(1440px) {
                        margin-bottom: 25px;
                    }
                    span {
                        &:before {
                            background-color: $color1;
                        }
                    }                              
                }
                &__list {
                    @include flex-jbetween;
                    align-content: space-between;
                    flex-wrap: wrap;     
                    height: calc(100vh - 624px);   
                    @include max(1440px) {
                        height: calc(100vh - 588px);   
                    }                        
                    .reg-item {
                        height: calc(50% - 12.5px);
                        position: relative;
                        cursor: pointer;
                        @include max(1440px) {
                            height: calc(50% - 7.5px);
                        }
                    }
                    .champ01 {
                        width: calc(25% - 75px / 4);
                        @include max(1440px) {
                            width: calc(25% - 45px / 4);
                        }
                    }  
                    .champ02 {
                        width: calc(20% - 20px);
                    }  
                    .champ03 {
                        width: calc(100% / 8 - 17.5px);
                    }  
                    .champ04 {
                        width: calc(100% / 7 - 150px / 7);
                        height: calc(100% / 3 - 50px / 3);
                    } 
                    .champ05 {
                        width: calc(100% / 6 - 125px / 6);
                        height: 100%;
                    }  
                    .champ06 {
                        width: calc(100% / 6 - 125px / 6);
                    }  
                    .champ07 {
                        width: calc(100% / 7 - 150px / 7);
                    }  
                    .vision01 {
                        width: calc(30% - 50px / 3);
                        @include max(1440px) {
                            width: calc(30% - 30px / 3);
                        }
                    }    
                    .vision02 {
                        width: calc(40% - 15px);
                        @include max(1440px) {
                            width: calc(40% - 10px);
                        }
                    }   
                    .vision03 {
                        width: calc(50% - 12.5px);
                        @include max(1440px) {
                            width: calc(50% - 7.5px);
                        }
                    }  
                    .vision04 {
                        width: calc(35% - 50px / 3);
                    }  
                    .vision05 {
                        width: calc(60% - 4px);
                    }                          
                }                            
                .list-champ {
                    flex-direction: column;
                }
                &__inner {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    overflow: hidden;
                    z-index: 1;                                
                    padding: 5px;
                    background-color: $color1;
                    transition: all .3s ease;
                    @include max(1440px) {
                        padding: 3px;
                    }
                    &:hover {
                        box-shadow: inset 3px 3px 3px rgba($color: $color3, $alpha: 0.5);
                        .reg-text {
                            &__box {
                                opacity: 1;
                            }
                        }
                    }
                    .reg-bg {
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        bottom: 5px;
                        right: 5px;
                        background-color: #0a0a0c;
                        background-repeat: no-repeat;
                        background-size: cover;
                        transition: opacity .3s ease;  
                        @include max(1440px) {
                            top: 3px;
                            left: 3px;
                            bottom: 3px;
                            right: 3px;
                        }                          
                    }
                    .reg-text {
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        bottom: 5px;
                        right: 5px;
                        transition: all .3s ease;
                        z-index: 5;
                        @include max(1440px) {
                            top: 3px;
                            left: 3px;
                            bottom: 3px;
                            right: 3px;
                        }
                        &__box {
                            @include flex-center;
                            flex-direction: column;
                            position: absolute;
                            text-align: center;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            color: $color1;
                            text-transform: capitalize;
                            line-height: 28px;
                            transition: .2s;
                            opacity: 0;
                            background-color: rgba($color: $color3, $alpha: 0.7);
                            @include max(1440px) {
                                font-size: 14px;
                                line-height: 22px;
                            }
                        }
                    }
                    
                }
            }
            .other {                   
                @include flex-jcenter;
                .other-reg {
                    width: 60px;
                    padding: 5px;
                    margin: 0 12.5px;
                    background-color: $color1;
                    transition: all .4s ease;
                    cursor: pointer;
                    @include max(1440px) {
                        margin: 0 7.5px;
                        padding: 3px;
                        width: 50px;
                    }
                    img {
                        width: 100%;
                    }
                    &:hover {
                        box-shadow: 0px 3px 5px rgba($color: $color3, $alpha: 0.7), 0px -3px 5px rgba($color: $color3, $alpha: 0.7), 3px 0px 5px rgba($color: $color3, $alpha: 0.7), -3px 0px 5px rgba($color: $color3, $alpha: 0.7);
                    }
                }              
            }
        }          
        &__champ {    
            .champ-list {
                @include flex-jbetween;
                align-content: space-between;
                flex-wrap: wrap;     
                height: calc(100vh - 395px);                           
                .champ-item {
                    max-width: 242.5px;
                    width: calc(100% / 6 - 120px / 5);
                    height: calc(100% / 3 - 60px / 3);
                    position: relative;
                    cursor: pointer;                   
                    &__inner {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        overflow: hidden;
                        z-index: 1;                                
                        padding: 5px;
                        background-color: $color1;
                        transition: all .3s ease;
                        &:hover {
                            transform: scale(1.1);
                            .champ-text {
                                text-shadow: 0px 0px 5px $color3, 0px 0px 10px $color3, 0px 0px 15px $color3, 0px 0px 20px $color3;
                            }
                        }
                        .champ-bg {
                            position: absolute;
                            top: 5px;
                            left: 5px;
                            bottom: 5px;
                            right: 5px;
                            background-color: #0a0a0c;
                            background-repeat: no-repeat;
                            background-size: cover;
                            transition: opacity .3s ease; 
                            &:before {
                                content: '';    
                                width: 100%;
                                height: 100%;    
                                background-image: linear-gradient(to top, rgba($color: #000, $alpha: 1), rgba($color: #000, $alpha: 0) 50%);
                                background-size: contain;                
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                z-index: 1;
                            }                                             
                        }
                        .champ-text {
                            font-family: 'Playball', cursive;
                            font-size: 20px;
                            letter-spacing: 1px;
                            width: calc(100% - 18px);
                            text-align: center;
                            text-transform: capitalize;
                            position: absolute;
                            bottom: 8px;
                            color: $color1;
                            line-height: 24px;  
                            transition: all .3s ease;                          
                            z-index: 3;
                        }                    
                    }
                }
            }  
            .champ-pagi {
                @include flex-jcenter;
                margin-top: 40px;
                .pagi-item {
                    background-color: $color1;
                    padding: 8px 14px;
                    backdrop-filter: blur(3px);   
                    margin: 0 8px;
                    font-size: 20px;
                    font-weight: 500;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    &:hover {
                        box-shadow: 0px 3px 5px rgba($color: $color3, $alpha: 0.7), 0px -3px 5px rgba($color: $color3, $alpha: 0.7), 3px 0px 5px rgba($color: $color3, $alpha: 0.7), -3px 0px 5px rgba($color: $color3, $alpha: 0.7);
                    }
                    &.active {
                        box-shadow: 0px 3px 5px rgba($color: $color3, $alpha: 0.7), 0px -3px 5px rgba($color: $color3, $alpha: 0.7), 3px 0px 5px rgba($color: $color3, $alpha: 0.7), -3px 0px 5px rgba($color: $color3, $alpha: 0.7);
                    }
                }
            }    
        }  
        &__champ-detail {
            position: relative;
            margin-bottom: 30px;
            color: $color1;
            .name {
                line-height: 1;
                margin-bottom: 10px;
                text-shadow: 0px 0px 5px $color3, 0px 0px 10px $color3, 0px 0px 15px $color3, 0px 0px 20px $color3, 0px 0px 25px $color3;
                &__main {
                    font-family: 'Playball', cursive;
                    font-size: 32px;
                    letter-spacing: 1px;
                }
                &__sub {
                    text-transform: uppercase;
                    margin-left: 3px;
                }
            }  
            .intro {
                @include flex-jbetween;
                margin-bottom: 25px;
                &__bio {
                    line-height: 28px;
                    text-align: justify;
                }
                &__ability {
                    @include flex-jstart;
                    flex-direction: column;                        
                    min-width: 800px;  
                    min-height: 180px;
                    margin-left: 50px;
                    padding-top: 10px;
                    .ability-list {
                        @include flex-jstart;
                        &__item {
                            margin-right: 25px;
                            padding: 5px;
                            background-color: $color1;
                            cursor: pointer;
                            transition: all 0.3s ease-in-out;
                            img {
                                width: 50px;
                            }
                            &:hover, &.active {
                                box-shadow: 0px 3px 5px rgba($color: $color3, $alpha: 0.7), 0px -3px 5px rgba($color: $color3, $alpha: 0.7), 3px 0px 5px rgba($color: $color3, $alpha: 0.7), -3px 0px 5px rgba($color: $color3, $alpha: 0.7);
                            }
                        }
                    } 
                    .ability-text {
                        &__item {
                            p {
                                font-size: 20px;
                                font-weight: 500;
                                margin: 20px 0 10px;
                                color: $color3;
                            }
                            span {
                                line-height: 28px;
                                text-align: justify;
                            }
                        }
                    } 
                } 
            } 
            .champ-skin {
                @include flex-jbetween;
            } 
            .skin-list {
                @include flex-jstart;
                flex-wrap: wrap;
                align-content: flex-start;
                &__item {
                    margin: 0 25px 25px 0;
                    padding: 5px;
                    background-color: $color1;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    img {
                        width: 100%;
                    }
                    &:hover, &.active {
                        box-shadow: 0px 3px 5px rgba($color: $color3, $alpha: 0.7), 0px -3px 5px rgba($color: $color3, $alpha: 0.7), 3px 0px 5px rgba($color: $color3, $alpha: 0.7), -3px 0px 5px rgba($color: $color3, $alpha: 0.7);
                    }
                }
                .size01 {
                    width: calc(100% / 4 - 100px / 3); 
                }
                .size02 {
                    width: calc(100% / 5 - 125px / 4); 
                }
            }
            .skin-inner {
                &__item {                                
                    height: calc(100vh - 552px);
                    position: relative;
                    backdrop-filter: blur(3px);
                    padding: 15px;                      
                    box-shadow: 0px 3px 5px rgba($color: $color1, $alpha: 0.7), 0px -3px 5px rgba($color: $color1, $alpha: 0.7), 3px 0px 5px rgba($color: $color1, $alpha: 0.7), -3px 0px 5px rgba($color: $color1, $alpha: 0.7);
                    img, video {
                        height: 100%;
                    }
                    p {
                        @include flex-center;
                        align-items: flex-end;
                        text-align: center;
                        padding-bottom: 5px;
                        font-family: 'Playball', cursive;
                        font-size: 24px;
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        bottom: 15px;
                        left: 15px;
                        color: $color1;
                        background-image: linear-gradient(to top, rgba($color: #000, $alpha: 1), rgba($color: #000, $alpha: 0) 50%);
                        text-shadow: 0px 0px 5px $color3, 0px 0px 10px $color3, 0px 0px 15px $color3, 0px 0px 20px $color3, 0px 0px 25px $color3;
                    }
                }
            }  
            .other {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 11px 20px 10px 27px;
                background-color: $color1;
                box-shadow: 3px 3px 3px rgba($color: $color2, $alpha: 0.3);
                font-weight: 500;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                &:before {
                    content: '';
                    width: 7px;
                    height: 100%;
                    background-color: $color3;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                a {
                    color: $color2;
                    text-decoration: none;
                }
                &:hover {
                    box-shadow: 3px 3px 3px rgba($color: $color3, $alpha: 0.3);
                    a {
                        color: $color3;
                    }
                }
            }             
        }  
        &__skin {
            @include flex-jbetween;
            align-content: space-between;
            flex-wrap: wrap;     
            height: calc(100vh - 315px);                           
            .skin-item {
                max-width: 242.5px;
                width: calc(100% / 6 - 120px / 5);
                height: calc(100% / 3 - 60px / 3);
                position: relative;
                cursor: pointer;                   
                &__inner {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    overflow: hidden;
                    z-index: 1;                                
                    padding: 5px;
                    background-color: $color1;
                    transition: all .3s ease;
                    &:hover {
                        transform: scale(1.1);
                        .skin-text {
                            text-shadow: 0px 0px 5px $color3, 0px 0px 10px $color3, 0px 0px 15px $color3, 0px 0px 20px $color3;
                        }
                    }
                    .skin-bg {
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        bottom: 5px;
                        right: 5px;
                        background-color: #0a0a0c;
                        background-repeat: no-repeat;
                        background-size: cover;
                        transition: opacity .3s ease; 
                        &:before {
                            content: '';    
                            width: 100%;
                            height: 100%;    
                            background-image: linear-gradient(to top, rgba($color: #000, $alpha: 1), rgba($color: #000, $alpha: 0) 50%);
                            background-size: contain;                
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            z-index: 1;
                        }                                             
                    }
                    .skin-text {
                        font-family: 'Playball', cursive;
                        font-size: 20px;
                        letter-spacing: 1px;
                        width: calc(100% - 10px);
                        text-align: center;
                        text-transform: capitalize;
                        position: absolute;
                        bottom: 8px;
                        color: $color1;
                        line-height: 24px;  
                        transition: all .3s ease;                          
                        z-index: 3;
                    }                    
                }
            }
        } 
        &__skin-detail {
            @include flex-jbetween;
            flex-direction: column; 
            height: calc(100vh - 305px);
            position: relative;
            @include max(1440px) {
                height: calc(100vh - 305px);
            }
            .intro {           
                &__name {
                    line-height: 1;
                    margin-bottom: 10px;
                }                           
                &__about {                                
                    line-height: 28px;
                    text-align: justify;
                    color: $color1;
                }
            }         
            .image-list {
                @include flex-jcenter;
                align-content: center;   
                flex-wrap: wrap; 
                margin-bottom: 15px;         
                &__item {                 
                    padding: 5px;
                    background-color: $color1;
                    cursor: pointer;     
                    margin: 0 10px;  
                    transition: all 0.3s ease-in-out;
                    img {
                        width: 100%;
                    }
                    &:hover, &.active {
                        box-shadow: 0px 3px 5px rgba($color: $color3, $alpha: 0.7), 0px -3px 5px rgba($color: $color3, $alpha: 0.7), 3px 0px 5px rgba($color: $color3, $alpha: 0.7), -3px 0px 5px rgba($color: $color3, $alpha: 0.7);
                    }                        
                } 
                .size01 {
                    width: calc(100% / 13 - 260px / 12);       
                    margin: 10px 20px;  
                }
                .size02 {
                    width: calc(100% / 11 - 220px / 10);    
                }
                .size03 {
                    width: calc(100% / 7 - 140px / 6);  
                }
                .size04 {
                    max-width: calc(100% / 5 - 100px / 4);  
                    height: 150px;
                    margin: 0 15px;  
                    img {
                        width: auto;
                        height: 100%;
                    }
                }
                .size05 {
                    width: calc(100% / 9 - 180px / 8);  
                }
                .size06 {
                    width: calc(100% / 13 - 260px / 12); 
                    margin: 10px 30px;  
                }
                .size07 {
                    width: calc(100% / 10 - 200px / 9); 
                }
                .size08 {
                    width: calc(100% / 13 - 260px / 12);       
                    margin: 10px 15px;  
                }
            }   
            .image-inner {
                @include flex-jcenter;
                position: relative;
                &__item {   
                    backdrop-filter: blur(3px);
                    position: relative; 
                    margin: 0 25px;   
                    padding: 15px;                      
                    box-shadow: 0px 3px 5px rgba($color: $color1, $alpha: 0.7), 0px -3px 5px rgba($color: $color1, $alpha: 0.7), 3px 0px 5px rgba($color: $color1, $alpha: 0.7), -3px 0px 5px rgba($color: $color1, $alpha: 0.7);
                    img, video {
                        height: calc(100vh - 600px);
                        @include max(1440px) {
                            height: calc(100vh - 500px);
                        }
                    }
                    p {
                        @include flex-jcenter;
                        align-content: flex-end;
                        flex-wrap: wrap;
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        bottom: 15px;
                        left: 15px;
                        color: $color1;                            
                        padding: 10px 15px;
                        background-image: linear-gradient(to top, rgba($color: #000, $alpha: 1), rgba($color: #000, $alpha: 0) 60%);
                        span {
                            width: 100%;                           
                        }
                        .title {
                            font-family: 'Playball', cursive;
                            font-size: 24px;
                            margin-bottom: 5px;
                            color: $color1;
                            text-shadow: 0px 0px 5px $color3, 0px 0px 10px $color3, 0px 0px 15px $color3, 0px 0px 20px $color3, 0px 0px 25px $color3;
                        }
                        .text {
                            font-size: 14px;
                            line-height: 20px;
                            text-align: justify;
                        }
                    }
                } 
                &__char {                        
                    display: flex;
                    align-items: center;
                    img {
                        width: 100%;
                        @include max(1440px) {
                            width: 80%;
                        }
                    }
                }                  
            }         
            &__champ-list {
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 16px 25px 15px;
                background-color: $color1;
                box-shadow: 3px 3px 3px rgba($color: $color2, $alpha: 0.3);
                font-weight: 500;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                a {
                    color: $color2;
                    text-decoration: none;
                }
                &:hover {
                    box-shadow: 3px 3px 3px rgba($color: $color3, $alpha: 0.3);
                    a {
                        color: $color3;
                    }
                }
            }  
            
            .other {
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 11px 20px 10px;
                background-color: rgba($color: #000, $alpha: 0.5);
                font-weight: 500;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                a {
                    color: $color1;
                    text-decoration: none;
                }
                &:hover {
                    background-color: rgba($color: #fff, $alpha: 1);
                    a {
                        color: $color2;
                    }
                }
            }              
        }  
        &__footer {
            @include flex-jcenter;
            width: 100%;
            height: 30px;
            .logo {
                height: 30px;
                margin: 0 25px;
                img {
                    height: 100%;
                    margin: 0 15px;
                }
            }
            .social {
                margin: 0 50px;
                height: 30px;
                img {
                    height: 100%;
                    margin: 0 15px;
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        -webkit-filter: drop-shadow(0px 0px 3px $color3) drop-shadow(0px 0px 7px $color3);
                        filter: drop-shadow(0px 0px 3 px $color3) drop-shadow(0px 0px 7px $color3);
                    }
                }
            }
        }
        
    }    
} 
.reg-detail-bg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    video {
        position: absolute;
        bottom: 0;
    }
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000, $alpha: 0.3);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        transition: all 0.3s ease;
    } 
}