.lol {
    margin-top: 50px;
    @include flex-jbetween;
    &__menu {
        @include flex-jstart;
        flex-direction: column;
        margin-right: 50px;
        li {
            min-width: 215px;
            padding: 15px 20px 11px 30px;
            background-color: $color1;
            box-shadow: 5px 5px 5px rgba($color: $color2, $alpha: 0.15);
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 20px;
            position: relative;    
            cursor: pointer;  
            &:before {
                content: '';
                width: 10px;
                height: 100%;
                background-color: $color3;
                position: absolute;
                left: 0;
                top: 0;
            }
            &:hover, &.active {
                color: $color3;
                box-shadow: 5px 5px 5px rgba($color: $color3, $alpha: 0.3);
            }
        }
    }
    &__inner {
        @include flex-jbetween;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 235px);
        position: relative;
        &--about {
            .intro {
                line-height: 28px;                
                position: relative;
                padding: 25px;
                &:before {
                    content: '';
                    width: 50px;
                    height: 50px;
                    background: url(../../assets/images/common/border01.png) no-repeat;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                &:after {
                    content: '';
                    width: 50px;
                    height: 50px;
                    background: url(../../assets/images/common/border01.png) no-repeat;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    transform: scale(-1);
                }
                p {
                    padding: 25px 0;
                    position: relative;
                    span {
                        font-family: 'Playball', cursive;
                        font-size: 32px;
                        color: $color3;
                    }
                    &:before {
                        content: '';
                        width: 25%;
                        height: 2px;
                        background-color: $color3;
                        position: absolute;
                        top: 0;
                        right: -25px;
                    }
                    &:after {
                        content: '';
                        width: 25%;
                        height: 2px;
                        background-color: $color3;
                        position: absolute;
                        bottom: 0;
                        left: -25px;
                    }
                }
            }                
            .video {
                @include flex-jcenter;
                align-items: center;
                margin-top: 25px;
                position: relative;
                video {
                    width: 50%;
                    margin: 0 50px;
                }
            }         
        }
        &--cine {            
            position: relative;
            .list {
                @include flex-jbetween;
                div {
                    width: 13%;
                    box-shadow: 5px 5px 5px rgba($color: $color2, $alpha: 0.15);
                    text-align: center;
                    font-weight: 500;
                    cursor: pointer;
                    &:hover, &.active {
                        box-shadow: 5px 5px 5px rgba($color: $color3, $alpha: 0.3);
                        color: $color3;
                    }
                    img {
                        width: 100%;                     
                    }
                    p {
                        padding: 7px 0 5px;
                        background-color: $color1;
                        border-left: 5px solid $color3;
                    }
                }
            }
            .video {        
                @include flex-jcenter;
                align-items: center;        
                margin-top: 40px;
                video {
                    width: 50%;
                }
            }
        }
        &--reg {
            position: relative;                   
            .reg__list {
                @include flex-jbetween;
                height: calc(100vh - 315px);
                position: relative;
                z-index: 3;
                div {
                    width: 7%;
                    position: relative;   
                    text-align: center;
                    border: 5px solid $color1;
                    box-shadow: 3px 3px 3px rgba($color: $color2, $alpha: 0.3);
                    cursor: pointer;
                    img {
                        margin: 25px 0;
                        height: 60px;
                        position: relative;
                        z-index: 3;
                        transition: 0.2s ease-in-out;
                    }
                    p {
                        color: $color1;
                        line-height: 24px;
                        padding: 0 10px;  
                        position: relative;
                        transition: 0.2s ease-in-out;
                        z-index: 3;
                    }
                    &:before {
                        content: '';    
                        width: 100%;
                        height: 100%;   
                        background-size: cover;                
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                    }
                    &:after {                        
                        content: '';    
                        width: 100%;
                        height: 100%;   
                        background-image: linear-gradient(to bottom, rgba($color: #000, $alpha: 1), rgba($color: #000, $alpha: 0.2));
                        background-size: cover;                
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                    }
                    &:hover {
                        box-shadow: 3px 3px 3px rgba($color: $color3, $alpha: 0.3);
                        p {
                            text-shadow: 0px 0px 5px $color3, 0px 0px 10px $color3, 0px 0px 15px $color3, 0px 0px 20px $color3;
                        }
                        img {      
                            -webkit-filter: drop-shadow(0px 0px 3px $color3) drop-shadow(0px 0px 7px $color3);
                            filter: drop-shadow(0px 0px 3 px $color3) drop-shadow(0px 0px 7px $color3);
                        }
                        &:after {
                            background-image: linear-gradient(to bottom, rgba($color: #000, $alpha: 1), rgba($color: #000, $alpha: 0) 50%);
                        }
                    }
                }
                &--bandle {
                    &:before {
                        background: url(../../assets/images/lol/reg-bandle-bg.png) no-repeat center center;
                    }
                }
                &--bilge {
                    &:before {
                        background: url(../../assets/images/lol/reg-bilge-bg.png) no-repeat center center;
                    }
                }
                &--demacia {
                    &:before {
                        background: url(../../assets/images/lol/reg-demacia-bg.png) no-repeat center center;
                    }
                }
                &--ionia {
                    &:before {
                        background: url(../../assets/images/lol/reg-ionia-bg.png) no-repeat center center;
                    }
                }
                &--ixtal {
                    &:before {
                        background: url(../../assets/images/lol/reg-ixtal-bg.png) no-repeat center center;
                    }
                }
                &--noxus {
                    &:before {
                        background: url(../../assets/images/lol/reg-noxus-bg.png) no-repeat center center;
                    }
                }
                &--piltover {
                    &:before {
                        background: url(../../assets/images/lol/reg-piltover-bg.png) no-repeat center center;
                    }
                }
                &--shadow {
                    &:before {
                        background: url(../../assets/images/lol/reg-shadow-bg.png) no-repeat center center;
                    }
                }
                &--shurima {
                    &:before {
                        background: url(../../assets/images/lol/reg-shurima-bg.png) no-repeat center center;
                    }
                }
                &--targon {
                    &:before {
                        background: url(../../assets/images/lol/reg-targon-bg.png) no-repeat center center;
                    }
                }
                &--frel {
                    &:before {
                        background: url(../../assets/images/lol/reg-frel-bg.png) no-repeat center center;
                    }
                }
                &--void {
                    &:before {
                        background: url(../../assets/images/lol/reg-void-bg.png) no-repeat center center;
                    }
                }
                &--zaun {
                    &:before {
                        background: url(../../assets/images/lol/reg-zaun-bg.png) no-repeat center center;
                    }
                }
            }
            .reg__detail {
                div {
                    .intro {
                        display: block;
                        margin-bottom: 30px;
                        &__logo {
                            float: left;
                            margin-right: 25px;
                            padding: 10px;
                            background-color: $color1;
                            box-shadow: inset 3px 3px 3px rgba($color: $color2, $alpha: 0.3);
                        }
                        &__text {
                            &--title {
                                margin-bottom: 5px;
                            }
                            &--voice {
                                font-size: 18px;
                                font-weight: 500;
                                font-style: italic;
                                margin-bottom: 10px;
                                span {
                                    font-style: normal;
                                }
                            }                            
                            &--words {                                
	                            line-height: 28px;
                                p {
                                    margin: 10px 0 0;
                                }
                            }
                        }
                    }
                    .image {
                        @include flex-jbetween;
                        &__champ {     
                            width: calc((100% + 70px) / 2 - 50px);               
                            &--title {
                                margin-bottom: 35px;
                            }
                            &--list {
                                @include flex-jstart;
                                align-content: space-between;
                                height: calc(100vh - 585px);
                                flex-wrap: wrap;
                                .item {
                                    background-color: $color1;
                                    box-shadow: 3px 3px 3px rgba($color: $color2, $alpha: 0.3);
                                    text-align: center;
                                    font-weight: 500;
                                    margin: 0 25px 0 0;
                                    cursor: pointer;
                                    p {
                                        padding: 6px 0 5px;
                                        background-color: $color1;
                                        border-left: 5px solid $color3;
                                    }
                                    &:hover {
                                        box-shadow: 3px 3px 3px rgba($color: $color3, $alpha: 0.3);
                                        color: $color3;
                                    }
                                }
                            }
                        }
                        &__vision {
                            width: calc((100% - 570px) / 2 - 50px);  
                            &--title {                                
                                margin-bottom: 35px;                                
                            }
                            &--list {
                                @include flex-jbetween;
                                align-content: space-between;
                                flex-wrap: wrap;
                                height: calc(100vh - 585px);
                                .vision01 {
                                    width: calc(100% / 3 - 10px); 
                                    height: calc(50% - 10px);
                                    position: relative;
                                    cursor: pointer;
                                }
                                .vision02 {
                                    width: calc(50% - 10px);
                                    height: calc(50% - 10px);
                                    position: relative;
                                    cursor: pointer;
                                }                            
                            }
                            &--inner {
                                position: absolute;
                                top: 0;
                                left: 0;
                                bottom: 0;
                                right: 0;
                                overflow: hidden;
                                z-index: 1;
                                box-shadow: 3px 3px 3px rgba($color: $color2, $alpha: 0.3);
                                &:hover {
                                    .vision-text {
                                        background-color: rgba($color: #000000, $alpha: 0.7);
                                        &__box {
                                            opacity: 1;
                                        }
                                    }
                                }
                                .vision-bg {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    bottom: 0;
                                    right: 0;
                                    background-attachment: local;
                                    background-color: #0a0a0c;
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    transition: opacity .3s ease;
                                    width: 100%;
                                }
                                .vision-text {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    bottom: 0;
                                    right: 0;
                                    width: 100%;
                                    transition: all .3s ease;
                                    &__box {
                                        @include flex-center;
                                        flex-direction: column;
                                        position: absolute;
                                        text-align: center;
                                        top: 5px;
                                        right: 5px;
                                        bottom: 5px;
                                        left: 5px;
                                        border: 1px solid $color1;
                                        color: $color1;
                                        line-height: 28px;
                                        z-index: 5;
                                        transition: .2s;
                                        opacity: 0;
                                    }
                                }
                            }
                        }
                        &__other {     
                            width: 250px;               
                            &--title {
                                margin-bottom: 35px;
                            }
                            &--list {
                                @include flex-jbetween;
                                flex-wrap: wrap;
                                align-content: space-between;
                                height: calc(100vh - 585px);
                                .other-reg {
                                    width: 27%;
                                    box-shadow: 3px 3px 3px rgba($color: $color2, $alpha: 0.3);
                                    transition: all .3s ease;
                                    cursor: pointer;
                                    img {
                                        width: 100%;
                                    }
                                    &:hover {
                                        transform: scale(1.2);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &--footer {
            @include flex-jcenter;
            width: 100%;
            height: 40px;
            .logo {
                height: 40px;
                margin: 0 25px;
                img {
                    margin: 0 15px;
                }
            }
            .social {
                margin: 0 25px;
                img {
                    border-radius: 20px;
                    margin: 0 15px;
                    background-color: $color1;
                    box-shadow: 5px 5px 5px rgba($color: $color2, $alpha: 0.15);
                    &:hover{
                        box-shadow: 5px 5px 5px rgba($color: $color3, $alpha: 0.3);
                    }
                }
            }
        }
       
    }    
} 