.model3d {
    margin-top: 50px;
    @include flex-jbetween;
    &__menu {
        @include flex-jstart;
        flex-direction: column;
        margin-right: 50px;   
        li {
            min-width: 275px;
            padding: 15px 20px 11px 30px;
            background-color: $color1;
            box-shadow: 5px 5px 5px rgba($color: $color2, $alpha: 0.15);
            font-size: 20px;
            margin-bottom: 20px;
            position: relative;    
            cursor: pointer;        
            &:before {
                content: '';
                width: 10px;
                height: 100%;
                background-color: $color3;
                position: absolute;
                left: 0;
                top: 0;
            }
            &:hover, &.active {
                color: $color3;
                box-shadow: 5px 5px 5px rgba($color: $color3, $alpha: 0.3);
            }
        }
    }
    &__inner {
        width: 100%;
        &--talon {
            @include flex-jbetween;
            flex-direction: column;
            .box {
                @include flex-jbetween;
                margin-top: 25px;                
                li:first-child {
                    width: 70%;
                    max-width: 1021px;
                    max-height: 625px;
                    padding: 25px;
                    background-color: $color1;
                    box-shadow: 5px 5px 5px rgba($color: $color2, $alpha: 0.15);
                    &:hover {
                        box-shadow: 5px 5px 5px rgba($color: $color3, $alpha: 0.3);
                    }
                    img {
                        width: 100%;   
                        max-height: 575px;                 
                    }
                }
                &__sideview {
                    @include flex-jbetween;
                    align-content: space-between;
                    flex-wrap: wrap;
                    width: 30%;
                    margin-left: 50px;
                    div {
                        width: 45%;
                        max-height: 300px;
                        padding: 20px;
                        background-color: $color1;
                        box-shadow: 5px 5px 5px rgba($color: $color2, $alpha: 0.15);
                        &:hover {
                            box-shadow: 5px 5px 5px rgba($color: $color3, $alpha: 0.3);
                        }
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}