/*------------------------------------------------------------
	Title
------------------------------------------------------------*/


.poster-title {	
	font-size: 24px;
	font-weight: 500;
	border-bottom: 2px solid #56CCF2;
	text-align: center;
	p {
		max-width: 280px;
		background-color: #56CCF2;
		padding: 9px 0 4px;
		border-radius: 0 20px 0 0;
	}
}